<html>

<head>
    <title>time table</title>

<body>
    <center>
        <h2>TIME TABLE OF 5TH SEMESTER</h2>
        <table border="1" cellspacing="5" cellpadding="5">
            <tr>
                <th colspan="2">Academic Year</th>
                <th colspan="2">Scheme</th>
                <th colspan="2">Semester</th>
                <th colspan="2">Section</th>
                <th colspan="2">Class coordinator</th>
                <th colspan="2">Room number</th>
            </tr>
            <tr>
                <th colspan="2">2021-22</th>
                <th colspan="2">2018</th>
                <th colspan="2">5th</th>
                <th colspan="2">B</th>
                <th colspan="2">Mr Sudhakar</th>
                <th colspan="2">202</th>
            </tr>

            <tr>
                <th>Day/time</th>

                <th>09:00-9:55</th>
                <th>09:55-10:50</th>
                <th>10:50-11:10</th>
                <th>11:10-12:00</th>
                <th>12:00-12:50</th>
                <th>12:50-01:40</th>
                <th>01:40-02:30</th>
                <th>02:30-03:20</th>
                <th>03:20-03:30</th>
                <th>03:30-05:00</th>
            </tr>
            <tr>
                <th>Mon</th>
                <td>ITC</td>
                <td>DSP</td>
                <td rowspan="2">
                    <center>BREAK</center>
                </td>
                <td>HDL</td>
                <td>ME</td>
                <th rowspan="6">L<br>U<br>N<br>C<br>H<br></th>
                <td>EM</td>
                <td>PCS(lab)</td>
                <td>BREAK</td>
                <td>ME</td>
            </tr>
            <tr>
                <th>Tue</th>
                <td>DSP</td>
                <td>ITC</td>
                <td>BREAK</td>
                <td>EM</td>
                <td>PCS</td>
                <td>EM(lab)</td>
                <td colspan="5">
                    <center>ENVISION(lab)</center>
                </td>
            </tr>
            <tr>
                <th>Wed</th>
                <td>HDL</td>
                <td colspan="4">
                    <center>HDL (lab)+DSP(lab)</center>
                </td>
                <td>DSP</td>
                <td colspan="4">
                    <center>APTITUDE</center>
                </td>
            </tr>
            <tr>
                <th>Thu</th>
                <td>PCS</td>
                <td>CIV</td>
                <td rowspan="3">
                    <center>BREAK</center>
                </td>
                <td>ITC</td>
                <td>DSP </td>
                <td>HDL</td>
                <td colspan="5">
                    <center>ENVISION(lab)</center>
                </td>
            </tr>
            <tr>
                <th>Fri</th>
                <td>ME</td>
                <td>EM</td>
                <td>PCS</td>
                <td>HDL</td>
                <td colspan="4">
                    <center>HDL lab+DSPlab</center>
                </td>
            </tr>
            <tr>
                <th>Sat</th>
                <td>EM</td>
                <td>ITC</td>
                <td>DSP</td>
                <td>ME</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <th colspan="12">
                    <center>Allocation of Subjects </center>
                </th>
            </tr>
            <tr>
                <th colspan="7">
                    <center> Subjects </center>
                </th>
                <th colspan="3">
                    <center>Staff</center>
                </th>
                <th>Staff Code</th>
            </tr>
            <tr>
                <td>ME</td>
                <td>18ES51</td>
                <td colspan="5">Technological Innovation in Enterprenuership and Mangement</td>
                <td colspan="3">Mr. Sharathchandra Prabu</td>
                <td>SP</td>
            </tr>
            <tr>
                <td>DSP</td>
                <td>18EC52</td>
                <td colspan="5">Digital Signal Proccessing</td>
                <td colspan="3">Mr. Parveez Shariff B G</td>
                <td>PBG</td>
            </tr>
            <tr>
                <td>PCS</td>
                <td>18EC53</td>
                <td colspan="5">Principles of Communication Systems</td>
                <td colspan="3">Mr. Santhosh S</td>
                <td>SS</td>
            </tr>
            <tr>
                <td>ITC</td>
                <td>18EC54</td>
                <td colspan="5">Information Theory and Coding</td>
                <td colspan="3">Mr. Sudhakar H M</td>
                <td>SHM</td>
            </tr>
            <tr>
                <td>EM</td>
                <td>18EC55</td>
                <td colspan="5">Electromagnetic Waves</td>
                <td colspan="3">Mr. Roshan Shetty</td>
                <td>RS</td>
            </tr>
            <tr>
                <td>HDL</td>
                <td>18EC56</td>
                <td colspan="5">Verilog HDL</td>
                <td colspan="3">Mr. Aneesh Jain</td>
                <td>AJ</td>
            </tr>
            <tr>
                <td>DSP-LAB</td>
                <td>18ECL57</td>
                <td colspan="5">Digital Signal Processing Laboratory</td>
                <td colspan="3">Mr. Parveez Shariff +  Mr. Sachin K</td>
                <td>PBG +  SK</td>
            </tr>
            <tr>
                <td>HDL-LAB</td>
                <td>18ECL58</td>
                <td colspan="5">HDL Laboratory</td>
                <td colspan="3">Mr. Roshan Shetty + Mrs. Bhargavi K V</td>
                <td>RS +  BG</td>
            </tr>
            <tr>
                <td>CIV</td>
                <td>18CIV59</td>
                <td colspan="5">ENVIROMENTAL STUDIES</td>
                <td colspan="3">Mr. Umeshchandra</td>
                <td>US</td>
            </tr>
        </table>
    </center>
</body>
</head>

</html>