<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basics</title>
</head>

<body>
    <h1>I am a heading</h1>
    <h2>I am a heading</h2>
    <h3>I am a heading</h3>
    <h4>I am a heading</h4>
    <h5>I am a heading</h5>
    <h6>I am a heading</h6>

    <em>I am italic</em>

    <p> <b> Lorem, ipsum dolor sit amet consectetur</b> <br> adipisicing elit. <u> Dolorum explicabo earum impedit
            asperiores </u>laborum sit <q>necessitatibus facere,</q> <br> illo sequi debitis!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta aliquam odit animi accusantium suscipit
        assumenda temporibus asperiores voluptates maiores, ipsum quo tempora reiciendis iste numquam odio eius alias
        iusto <s>vero nemo incidunt ullam minus illum voluptatem? Iste expedita, minus molestiae itaque tempora
            quibusdam voluptate. Natus officia molestias dolorum.</s> Omnis provident animi exercitationem explicabo
        dolorem suscipit tempore. Officia mollitia culpa, ea pariatur deserunt cumque exercitationem voluptas
        repellendus optio nemo a?
        Accusanhhttps://www.transparentpng.com/download/apple-logo/d9RxbG-apple-logo-free-png.pngtium quos quasi enim,
        iusto harum culpa tenetur at architecto dolorem eius a
        laborum modi in consequatur eligendi animi blanditiis perferendis cumque ipsum reprehenderit veritatis quae
        quisquam quaerat nobis. Tenetur, vero. <br>
        <strong>I am Strong</strong><br>

        <!-- subscript -->
        h<sub>2</sub>o <br>
        h<sub>2</sub>so<sub>4</sub> <br>

        <!-- superscript -->
        i<sup>2</sup>c
    </p>
    <!-- anchor tag -->
    <a href="https://discuss.e-yantra.org/" target="_blank">Discuss</a>
    <br>
    <a href="tel:6364503569">call</a>
    <a href="mailto:pavitrakambar7@gmail.com">mail</a>
    <br>
    <img src="https://bit.ly/39pscd5" alt="image" height="500px" width="1000px">

    <img src="https://c4.wallpaperflare.com/wallpaper/764/505/66/baby-groot-4k-hd-superheroes-wallpaper-preview.jpg"
        alt="">

    <img src="../static/img/bg1.jpg" alt="">
    <img src="https://www.transparentpng.com/download/apple-logo/d9RxbG-apple-logo-free-png.png" alt="">

</body>

</html>