<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <progress min="0" max="100" value="50"></progress> <br>

    <!-- emmbed youtube video -->
    <iframe width="896" height="504" src="https://www.youtube.com/embed/3GDwZrkowaE" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe> <br>

    <audio src="../static/audio/1.mp3" controls></audio>
    <video src="../static/video/1.mp4" controls></video>
</body>

</html>