<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Netflix-Clone</title>
</head>

<body>
    <header>
        <nav id="navbar">
            <div>
                <img id="icon" src="../static/img/logo.svg" alt="">
            </div>
            <div>
                <select name="lang" id="lang">
                    <option value="English">English</option>
                    <option value="hindi">हिंदी</option>
                </select>
                <a href="#">Sign In</a>
            </div>
        </nav>
        <section>
            <div>
                <h1>Unlimited movies, TV shows and more.</h1>
                <span>Watch anywhere. Cancel anytime.</span>
                <span id="span-2">Ready to watch? Enter your email to create or restart your membership.</span>
            </div>
            <div id="get-started">
                <input type="email" placeholder="Email address"><a href="">Get Started &gt;</a>
            </div>
        </section>
    </header>
    <main>
        <hr>
        <section id="section-1">
            <div id="tv-content">
                <h1>Enjoy on your TV.</h1>
                <h2>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</h2>
            </div>
            <div id="tv" >
                <video src="../static/video/tv.m4v" width="420px"></video>
                <img  src="../static/img/tv.png" alt="" >
            </div>
        </section>
        <hr>
        <section>
            
        </section>
    </main>
    <footer>

    </footer>
    <script src="https://kit.fontawesome.com/1b2a268567.js" crossorigin="anonymous"></script>
</body>

</html>