<!DOCTYPE html>
<html>
    <head>
        <title>
            AIET
        </title>
    </head>
    <body style="background-color: aqua;">
        <h1 style="text-align: center;">Alvas Institute of Engineering and Technology</h1>
        <center>
        <img src="https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/5023/2018/12/20/Campus%20View%20full%20of%20Alvas%20Institute%20of%20Engineering%20and%20Technology%20Mangalore_Campus-View.jpg" alt=""  >
        
    </center>
    <center>  <a href="https://www.aiet.org.in/">click here to go to website</a></center>
  
        
    </body>
</html>