<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGE LINK</title>
</head>

<body>
    <table border="2px" cellspacing="10" cellpadding="20" width="500px" height="350px">
        <tr>
            <th colspan="3">EYRC</th>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="https://portal.e-yantra.org/profile_home" target="_blank"><img
                        src="https://portal.e-yantra.org/img/e-logo-small.svg" alt="" width="500px" height="250px"></a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">Name: Nikhil <br> E-mail: nikhilsnayak3473@gmail.com </td>
        </tr>
    </table>

</body>

</html>