<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
</head>

<body>
    <!-- ordered list -->
    <ol type="1">
        <!-- default -->
        <li>1st item</li>
        <li>2nd item</li>
        <li>3rd item</li>
        <li>4th item</li>
        <li>5th item</li>
    </ol>

    <ol type="A">
        <li>1st item</li>
        <li>2nd item</li>
        <li>3rd item</li>
        <li>4th item</li>
        <li>5th item</li>
    </ol>

    <ol type="a" start="6">
        <!-- starts after 6 characters i.e., from 'f' -->
        <li>1st item</li>
        <li>2nd item</li>
        <li>3rd item</li>
        <li>4th item</li>
        <li>5th item</li>
    </ol>

    <ol type="I" reversed>
        <!-- reverses order of the list -->
        <li>1st item</li>
        <li>2nd item</li>
        <li>3rd item</li>
        <li>4th item</li>
        <li>5th item</li>
    </ol>

    <ol type="i">
        <li>1st item</li>
        <li>2nd item</li>
        <li>3rd item</li>
        <li>4th item</li>
        <li>5th item</li>
    </ol>

    <!-- unordered list -->
    <ul type="disc">
        <!-- default -->
        <li>1st item</li>
        <li>2nd item</li>
        <li>3rd item</li>
        <li>4th item</li>
        <li>5th item</li>
    </ul>
    <ul type="circle">
        <li>1st item</li>
        <li>2nd item</li>
        <li>3rd item</li>
        <li>4th item</li>
        <li>5th item</li>
    </ul>
    <ul type="square">
        <li>1st item</li>
        <li>2nd item</li>
        <li>3rd item</li>
        <li>4th item</li>
        <li>5th item</li>
    </ul>

    <!-- defination/description list  -->
    <dl>
        <dt>HTML</dt> <!-- data term -->
        <dd>Hypertext markup language</dd> <!-- data description -->

        <dt>Frontend</dt>
        <dd>user interface of a website</dd>
    </dl>

    <h1>Hotel Menu</h1>

    <h2>VEG</h2>
    <ol>
        <li>IDLY</li>
        <li>PALAK PANEER</li>
        <li>VADA DOSA</li>
        <h2>NON-VEG</h2>
        <ul type="square">
            <li>Biriyani</li>
            <li>KABAB</li>
            <li>MUTTON</li>
        </ul>
    </ol>

    <h2>ALVA'S</h2>
    <ol type="I">
        <li>Engineering</li>
        <li>Medical</li>
        <li>BE</li>
    </ol>
     
    <h3>CITY</h3>
    <ul type="none">
        <li>Manglore</li>
    </ul>


</body>

</html>