<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sementic Tags</title>
</head>

<body>
    <!-- Sementic tags are also called grouping tags -->
    <!-- basic sementic tags are <div> and <span>  -->
    <div>
        <!-- div is a block level element -->
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>

    <span>
        <!-- span is a inline element -->
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </span>



    <header>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">entertainment</a></li>
                <li><a href="#">sports</a></li>
                <li><a href="#">music</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <marquee behavior="" direction="right">nikhil</marquee>
        </section>
    </main>
</body>

</html>