<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sementic Tags</title>
</head>

<body style="background-color: black; color: white;">
    <!-- Sementic tags are also called grouping tags -->
    <!-- basic sementic tags are <div> and <span>  -->
    <!-- div is a block level element -->
    <!-- span is a inline element -->

    <header>
        <h1>
            <marquee behavior="" direction="right">Alva's</marquee>
        </h1>
        <nav>
            <ul
                style="display: flex; list-style: none; background-color: cyan; border: 2px solid black; border-radius: 15px; justify-content: space-evenly;">
                <li style="padding: 10px; margin: 10px; "><a href="#" style="text-decoration: none;">TECHNOLOGY</a></li>
                <li style="padding: 10px; margin: 10px; "><a href="#" style="text-decoration: none;">ENTERTAINMENT</a>
                </li>
                <li style="padding: 10px; margin: 10px; "><a href="#" style="text-decoration: none;">SPORTS</a></li>
                <li style="padding: 10px; margin: 10px; "><a href="#" style="text-decoration: none;">POLITICS</a></li>
            </ul>
        </nav>
    </header>

    <main style="text-align: center;">
        <section>
            <h2>Technology</h2>
            <article>
                <figure>
                    <img src="https://bit.ly/3MAIsWS" alt="drone" width="500px">
                    <figcaption>
                        <h3>DRONE</h3>
                    </figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odio asperiores nulla vero
                    dignissimos quia consequatur ea perferendis ipsum aut velit facilis sunt quod officiis, fugit animi
                    perspiciatis illum, optio voluptates debitis et tenetur cumque! Maiores cumque atque dolore aliquam?
                    Architecto repellat dignissimos eligendi! Voluptatibus nostrum modi omnis inventore dolores
                    molestiae odio ad corrupti qui at nemo commodi fugit animi doloremque quo, voluptatum similique quis
                    soluta, cumque hic, explicabo cupiditate sed deserunt et? Quo distinctio labore temporibus vitae
                    quis quas vero, assumenda magni aliquam excepturi! Distinctio, quam non voluptas quaerat voluptates
                    perspiciatis, numquam ad officiis ducimus eligendi quod ea accusantium.</p>
            </article>
            <hr>
        </section>
        <section>
            <h2>Entertainment</h2>
            <article>
                <figure>
                    <img src="https://feeds.abplive.com/onecms/images/uploaded-images/2021/08/22/dacfa478b01c4830c118276722e2c6c7_original.jpg?impolicy=abp_cdn&imwidth=720"
                        alt="kgf 2" width="500px">
                    <figcaption>
                        <h3>KGF CHAPTER 2</h3>
                    </figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro reiciendis necessitatibus voluptate
                    beatae inventore animi! Dolore sed ea possimus deleniti nulla ab saepe, earum exercitationem
                    laudantium, nesciunt vitae blanditiis dicta harum? Ipsam eaque laborum facilis ullam, natus ad vel?
                    Ut iste corporis ipsum iusto ea rerum dolorum! Rem culpa consequuntur aut, natus facere, repudiandae
                    tempore provident omnis consectetur aperiam soluta eveniet! Dignissimos reiciendis eum quisquam
                    ratione unde repellendus odio illum sequi amet eveniet in distinctio autem corrupti doloribus,
                    inventore ut harum praesentium recusandae excepturi rerum earum. Sequi iste libero cupiditate
                    aperiam dignissimos laudantium iusto, enim quidem quos delectus atque repudiandae.</p>
            </article>
            <hr>
        </section>
        <section>
            <h2>Sports</h2>
            <article>
                <figure>
                    <img src="https://bit.ly/3kq6rvN" alt="rcb vs gt" width="500px">
                    <figcaption>
                        <h3>RCB vs GT</h3>
                    </figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla voluptatem corporis ullam
                    exercitationem at unde delectus explicabo doloribus repudiandae asperiores! Molestiae saepe
                    recusandae commodi consequatur libero sapiente soluta, maiores, itaque aut, in aliquam doloremque at
                    minus corporis animi pariatur fugiat est vero dolor consequuntur. Repellendus iste asperiores iusto
                    cumque saepe, veritatis quo rerum nulla, dolore temporibus at quod esse error eveniet aut fugit
                    deserunt facilis et, praesentium accusantium consequatur. Voluptatum doloremque neque natus adipisci
                    eveniet. Officia, qui? Doloribus quo, deleniti alias tempore reprehenderit perspiciatis expedita id
                    rem, consectetur totam debitis dolorem ipsa sed perferendis? Veniam architecto alias culpa
                    necessitatibus eaque?</p>
            </article>
            <hr>
        </section>
        <section>
            <h2>Polictics</h2>
            <article>
                <figure>
                    <img src="https://bit.ly/3Lzo1JP" alt="CM of karnataka" width="500px">
                    <figcaption>
                        <h3>CM of Karnataka</h3>
                    </figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eum amet consequatur quibusdam,
                    quos perferendis autem quasi dolore animi est odio non suscipit quam voluptates eius ab, molestiae
                    vel voluptas ullam. Voluptate ex voluptatibus officia, modi quibusdam, praesentium voluptates vel,
                    animi iste temporibus officiis! Omnis sunt hic iusto ipsa repellat perferendis, obcaecati dolor
                    officiis voluptatum mollitia non tempore neque iure aspernatur consequuntur at inventore dignissimos
                    perspiciatis possimus dolorem. Tenetur autem molestiae porro unde cupiditate dolorem nihil sunt
                    neque vel at rerum, quos perferendis, nam eius voluptatum consectetur fugiat incidunt assumenda.
                    Animi tempore ullam iusto! Delectus officiis nesciunt suscipit perferendis pariatur!</p>
            </article>
            <hr>
        </section>
    </main>
    <footer>
        <div style="text-align: center;">
            <span>Copyright © 2022, All Rights Reserved </span> 
            <details>
                <summary>Social Media</summary>
               <ul style="list-style: none;">
                   <li><a href="https://www.facebook.com/">FaceBook</a></li>
                   <li><a href="https://twitter.com/">Twitter</a></li>
               </ul>
            </details>
        </div>
    </footer>
</body>

</html>