<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
    <table border="2px" bgcolor="cyan" width=500px height=250px cellspacing="10" cellpadding="10">
        <thead>
            <tr>
                <th colspan="3">student details</th>
            </tr>
            <tr>
                <th>sl no</th>
                <th> name</th>
                <th> usn </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>nikhil</td>
                <td>4al19ec050</td>
            </tr>
            <tr>
                <td>2</td>
                <td>pavitra</td>
                <td>4al19ec054</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Kruthik</td>
                <td>4al19ec042</td>
            </tr>
            <tr>
                <td>4</td>
                <td>sumanth</td>
                <td>4al19ec081</td>
            </tr>
            <tr>
                <td>5</td>
                <td>dhanaraj</td>
                <td>4al19ec029</td>
            </tr>
            <tr>
                <td>6</td>
                <td>sanjay</td>
                <td>4al19ec066</td>
            </tr>
            <tr>
                <td>7</td>
                <td>gagan</td>
                <td>4al19ec031</td>
            </tr>
        </tbody>
    </table>
</body>

</html>