<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>time table</title>
</head>

<body>
    <table border="2px" width="900px" height="350px" cellspacing=5 cellpadding=10>

        <tr>
            <th>Days</th>
            <th>9-10</th>
            <th>10-11</th>
            <th>11-12</th>
            <th rowspan="7"> L<br>u<br>n<br>c<br>h </th>
            <th> 13-14</th>
            <th>14-15</th>
            <th>15-16</th>
        </tr>

        <tr>
            <th>Mon</th>
            <td>English</td>
            <td>Science</td>
            <td>Math</td>

            <td>Kannada</td>
            <td>Art</td>
            <td>sports</td>
        </tr>
        <tr>
            <th>Tue</th>
            <td>English</td>
            <td>Science</td>
            <td>Math</td>

            <td>Kannada</td>
            <td>Hindi</td>
            <td>***</td>
        </tr>
        <tr>
            <th>Wed</th>
            <td>English</td>
            <td>Math</td>
            <td>Science</td>

            <td>Hindi</td>
            <td>Kannada</td>
            <td>Sanskrit</td>
        </tr>
        <tr>
            <th>Thu</th>
            <td>English</td>
            <td>Kannada</td>
            <td>Hindi</td>

            <td>Science</td>
            <td>Social</td>
            <td>Math</td>
        </tr>
        <tr>
            <th>Fri</th>
            <td>English</td>
            <td>Social</td>
            <td>Math</td>

            <td>Science</td>
            <td>Art</td>
            <td>Sports</td>
        </tr>
        <tr>
            <th>Sat</th>
            <td>English</td>
            <td>Sanskrit</td>
            <td>Kannada</td>

            <td>Social</td>
            <td>Math</td>
            <td>Science</td>
        </tr>

    </table>
</body>

</html>